main{  
width: 940px;
margin: 0 auto;
}
head{
	font-size: 50px;
	font: italic;
	color: 	#4B0082;
}
form {
	color: red;
	margin: 20px 0;
}

form label {
	display: block;
	font-size: 40px;
	margin: 0 0 10px;
}
form input {
	display: block;
	margin: 0 0 10px;
	padding: 10px 25px;
	width: 50%;
}
div{
	color: purple; 

}
